/* ELEMENTS */

.stock {
  margin-top: 15px;
  border: 1px black solid;
  height: 40px;
  padding-top: 10px;
  float: left;
}

.tickerInput {
  width: 65px;
  color: white;
  background-color: green;
}

.tickerText {
    margin-left: -20px;
}

.allocationDiv {
  margin-left: -25px;
}

.allocationText {
  margin-left: -25px;
}

.allocationVal {
  width: 65px;
  color: white;
  background-color: green;
  margin-left: 35px;
}

.currentSharesDiv {
  margin-left: -40px;
}

.currentSharesText {
  margin-left: 30px;
}

.currentSharesInput {
  margin-left: -25px;
  width: 65px;
  color: white;
  background-color: green;
  text-align: cetner;
}

.priceDiv {
  margin-left: -10px;
}

.priceText {
  margin-left: 15px;
}

.currentPriceOutput {
  width: 65px;
  color: white;
  background-color: green;
  margin-left: 0px;
}

.sharesDiv {
  margin-left: -20px;
}

.sharesText {
  margin-left: 40px;
}

.sharesOutput {
  width: 65px;
  color: white;
  background-color: green;
  margin-left: -30px;
}

/*TOTAL row*/

.totalAllocation {
  margin-left: 136px;
}

.totalAllocationPerc {
  width: 65px;
  color: white;
  background-color: green;
  margin-left: -42px;
}

.totalRow {
  margin-top: 25px;
}

/*Dollar input*/

.dollarInput {
  width: 100px;
  color: white;
  background-color: green;
  margin-left: -50px;
}

.dollars {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*SPLASH page*/

.panel {
  height: 260px;
  margin-left: 3.5%;
  margin-right: 3.5%;
}
