/*Title row*/

.headerText {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .headerText {
    display: none;
  }
}

/* ELEMENTS */

.stock {
  margin-top: 15px;
  border: 1px black solid;
  height: flex;
  float: left;
}

.inOut{
  margin-top: 10%;
  margin-bottom: 10%;
  width: flex;
  color: white;
  background-color: green;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mobileActive {
    display: none;
  }
}
/*TOTAL row*/

.totalAllocationPerc {
  width: 65px;
  color: white;
  background-color: green;
}

.totalRow {
  margin-top: 25px;
}

/*Dollar input*/

.dollarInput {
  width: 100px;
  color: white;
  background-color: green;
}

.dollars {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*SPLASH page*/

.panel {
  height: 260px;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.panelHead {
  background-color:#1B638E;
  color: white;
}

.portButton {
  background-color: #DF7420;
  color: white;
}

.navbutton {
  background-color: #102B50;
  border-radius: 10%;
  margin: 1%;
  color: white;
}

.hello1 {
  background-color: #044AAA;
}

.hello2 {
  background-color: #070BB4
}
.hello3 {
  background-color:#018B9E
}
.hello4 {
  background-color:
}
